<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TajJarApiKey" value="5da2f821eee4035db4771edab942a4cc"/>
    <add key="TajJarApiUrl" value="https://api.taxjar.com"/>
    <add key="TaxJarApiVersion" value="v2"/>
  </appSettings> 
</configuration>