**/obj/
**/bin/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
.sonar
vars.user.cmd
/.vs
/Deployment
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
*.orig
z.DevSettings.config
.git/

TaxCalculator.git/
